[type="radio"] {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container__slider {
  display: flex;
  justify-content: center;
  width: 900px;
  height: 400px;
  max-width: 100%;
  margin: 0 auto -60px;
  padding-left: 1em;
}
.body__slider {
  padding-top: 0.2em;
  margin-right: 2.2em;
  min-width: 60%;
  user-select: none;
}

#slider {
  height: 75%;
  position: relative;
  perspective: 98vw;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 220px;
  height: 110%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(255, 255, 255, 0.794);
  transform: translate3d(-100%, 0, -400px);
  opacity: 0.4;
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3),
    0 2px 2px 0 rgba(255, 255, 255, 0.2);
  transform: translate3d(-50%, 0, -200px);
  opacity: 0.75;
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3),
    0 2px 2px 0 rgba(255, 255, 255, 0.2);
  transform: translate3d(55%, 0, -200px);
  opacity: 0.75;
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(255, 255, 255, 0.794);
  transform: translate3d(110%, 0, -400px);
  opacity: 0.4;
}
